.delete-modal {
  background-color: aliceblue;
  width: 500px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.delete-modal * button {
  background: none;
  margin-top: 20px;
  padding: 15px 15px;
  color: white;
  background-color: #006400;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s;
  border: none;
  border-radius: 10px;
}

.delete-modal * button:hover {
  transform: translateY(-5px);
  background-color: #1a5553;
}

.delete-modal-btn {
  display: flex;
  justify-content: center;
  width: 250px;
  justify-content: space-between;
  margin: 0 auto;
}

.delete-modal .delete-btn:hover {
  transform: translateY(-5px);
  background-color: #9d180a;
}
