/* TODO Add site wide styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #faf9f6;
  outline-color: #006400;
}

textarea {
  outline-color: #006400;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

a:active {
  background-color: transparent;
}

a:hover {
  color: #4e9487;
  text-decoration: underline;
}

input {
  outline-color: #006400;
}


.errors{
  color: red;
  font-size: 12px;
}
