.icon {
  background: none;
  border: none;
}

.fa-user-circle {
  font-size: 30px;
  color: #656969;
}

.fa-user-circle:hover {
  color: #0b7564;
  cursor: pointer;
}
.profile-dropdown {
  position: absolute;
  right: 10px;
  list-style-type: none;
  text-align: center;
  padding: 10px;
  background-color: #36d892;
  border-radius: 10px;
  color: #000000;
  z-index: 100;
}

.user-details {
  border-bottom: 1px solid #696868;
  padding: 10px;
}
.list-btn {
  margin-top: 20px;
}

.list-btn button {
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
}

.list-btn button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.nav-bar {
  padding: 0px 30px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #cecece 1px solid;
  margin-bottom: 20px;
}

.start-project {
  color: #656969;
}

.start-project:hover {
  color: #0b7564;
  text-decoration: none;
}

.logo img {
  width: 18.75rem;
}

.login-signup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 15px;
  height: 150px;
}

.login-signup > button {
  border: none;
  padding: 5px 18px;
  border-radius: 10px;
  cursor: pointer;
}

.no-user {
  margin-bottom: 70px;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.search-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.icon{
  margin-left: 20px;
}


.search-results{
  background-color: white;
}
